<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">首页</a></li>
		        	<li><a href="/about">关于SaberPrince</a></li>
	        	<!--	<li><a href="/cv">CV</a></li> -->
	        		<li><a href="/blog">再说面试</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:wuqian325@gmail.com">Email</a></li>
	        	<!--	<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li> -->
				</ul>
			</footer>
		</body>
	</html>
